@media (max-width: 830px) {
  header {
    padding: 1.6rem 1.4rem 2rem;
  }
  .left-nav .logo {
    width: 14vw;
  }
  nav .left-nav {
    gap: 2rem;
  }
  .left-nav .nav-links {
    gap: 0.35rem;
  }
  .nav-links a {
    font-size: 1.4rem;
    padding: 1rem 1rem;
  }
  .right-nav .btn {
    padding: 1rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.4rem;
  }
  .right-nav {
    gap: 1.6rem;
  }
  .hero-section h1 {
    font-size: 8vw;
  }
  .hero-section p {
    font-size: 1.8rem;
  }
  .hero-section .search-bar {
    width: 65%;
    height: 5.8rem;
  }
  .about {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .about .left img {
    width: 20vw;
  }
  .about .center {
    gap: 1.4rem;
  }
  .about .center a {
    font-size: 1.4rem;
  }
  .about .social-links {
    gap: 1.2rem;
  }
  .social-links a {
    font-size: 2.6rem;
    color: #242323;
  }
  .policy {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 1rem;
  }
  .policy .left,
  .right {
    gap: 1.4rem;
  }
  .policy .left a,
  .right a {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .about .left img {
    width: 32vw;
  }
  .about .center {
    display: flex;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
    flex-wrap: wrap;
    gap: 1.4rem;
  }
  .about .center a {
    font-size: 1.3rem;
  }
  .about .social-links {
    gap: 1rem;
  }
  .social-links a {
    font-size: 2.6rem;
  }
  .policy {
    gap: 2rem;
    padding: 5rem 1rem;
  }
  .policy .left,
  .right {
    gap: 1.2rem;
    flex-wrap: wrap;
  }
  .policy .left a,
  .right a {
    font-size: 1.3rem;
  }
}
@media (max-width: 300px) {
  .about .left img {
    width: 50vw;
  }
}
@media (max-width: 720px) {
  .left-nav .nav-links {
    display: none;
  }
  .right-nav i {
    display: inline-block;
  }
}
@media (max-width: 650px) {
  .left-nav .logo {
    width: 20vw;
  }
  header {
    padding: 1.6rem 1.4rem 3.6rem;
  }
  .hero-section h1 {
    font-size: 9vw;
  }
  .hero-section p {
    font-size: 1.6rem;
  }
  .hero-section .search-bar {
    width: 70%;
    gap: 1.4rem;
    height: 5rem;
  }
  .search-bar input {
    padding-inline: 1.4rem;
    font-size: 1.45rem;
  }
  .search-bar input::placeholder {
    font-size: 1.45rem;
  }
  .search-bar .right {
    gap: 1rem;
  }
  .search-bar .right .shots {
    gap: 0.1rem;
    padding: 0.4rem 0.6rem;
  }
  .search-bar .right .shots span {
    font-size: 1.4rem;
  }
  .search-bar .right .shots i {
    font-size: 1.6rem;
    padding-top: 0.4rem;
  }
  .search-bar .right .search-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .search-bar .right .search-icon i {
    font-size: 1.6rem;
  }
  .trending-search {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
  .trending-search h3 {
    color: rgb(51, 50, 50);
  }
  .trending-search .searches {
    max-width: 80%;
    margin: 0px auto;
  }
  .searches span {
    padding: 0.6rem 1.2rem;
    background-color: #f3f3f5e0;
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .hero-section h1 {
    font-size: 10vw;
  }
  .card-section {
    margin-top: 3rem;
  }
  .card-category {
  margin-bottom: 3rem;
  display: flex;
  width:100%;
  justify-content: space-between;
}
.card-category .popular,
  .filter {
    gap: 0.2rem;
    padding: 0.6rem 1rem;
    border-radius: 1.6rem;
  }

  .popular span,
  .filter span {
    font-size: 1.3rem;
  }
  .carousel-wrapper {
    display: none;

  }
  .hero-section p {
    font-size: 1.35rem;
    line-height: 2rem;
    max-width: 90%;
  }
  .hero-section {
    gap: 2.6rem;
  }
  .hero-section .search-bar {
    width: 80%;
    gap: 1.2rem;
    height: 4.4rem;
  }
  .search-bar input {
    padding-inline: 1.2rem;
    font-size: 1.45rem;
  }
  .search-bar input::placeholder {
    font-size: 1.4rem;
  }
  .search-bar .right {
    gap: 0.6rem;
  }
  .search-bar .right .shots {
    display: none;
  }
  .search-bar .right .search-icon {
    width: 3rem;
    height: 3rem;
  }
  .search-bar .right .search-icon i {
    font-size: 1.6rem;
  }
  .trending-search {
    gap: 2rem;
  }
  .trending-search .searches {
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
}
@media (max-width: 360px) {
  .hero-section h1 {
    font-size: 12vw;
  }
  .right-nav .btn {
    display: none;
  }
  header {
    padding: 1.4rem 1rem 2rem;
  }
  .left-nav .logo {
    width: 36vw;
  }
  .hero-section p {
    font-size: 1.3rem;
    max-width: 95%;
  }
  .hero-section {
    gap: 2.4rem;
  }
  .hero-section .search-bar {
    width: 90%;
    gap: 1rem;
    height: 4.4rem;
  }
  .trending-search {
    gap: 1.2rem;
  }
  .trending-search .searches {
    max-width: 100%;
  }
  .searches span {
    padding: 0.5rem 1rem;
    background-color: #f0efefe0;
    font-size: 1.26rem;
  }
}
@media (max-width: 460px) {
  .left-nav .logo {
    width: 28vw;
  }
  .right-nav .btn {
    padding: 0.8rem 1.4rem;
    border-radius: 1.6rem;
    font-size: 1.35rem;
  }
  .right-nav {
    gap: 1.2rem;
  }
  .right-nav i {
    font-size: 2.4rem;
    display: inline-block;
  }
  .cta {
    padding: 4rem 2rem;
  }
  .cta button {
    border-radius: 1.6rem;
    padding: 1.4rem 1.8rem;
    font-size: 1.4rem;
  }
  .cta .go-top {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    right: 2rem;
  }
  .logo-slider {
    padding: 4rem 0rem;
  }
  .logo-track .logo {
    display: flex;
    padding: 0rem 3.8rem;
  }
  .logo-track .logo img {
    height: 3.5rem;
  }
}
@media (max-width: 800px) {
  .card-section {
    margin-top: 6rem;
  }
  .card-category .popular,
  .filter {
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
  }

  .popular span,
  .filter span {
    font-size: 1.45rem;
  }
  .carousel-wrapper {
    max-width: 64%;
  }
  .nav-btn {
    width: 4rem;
    height: 4rem;
  }
  .carousel-container {
    gap: 2rem;
    padding: 1.2rem 2rem;
  }
  .carousel-container span {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    justify-content: center;
    padding-inline: 2rem;
  }
  .cards-container .card {
    flex-basis: calc((100% - (2 * 2%)) / 3);
  }
}
@media (max-width: 700px) {
  .cards-container {
    column-gap: 2.5%;
    padding-inline: 1.6rem;
  }
  .cards-container .card {
    flex-basis: calc((100% - (2 * 2.5%)) / 2);
  }
}
@media (max-width: 560px) {
  .cards-container .card {
    flex-basis: calc((100% - (2.5%)) / 1);
  }
}
@media (max-width: 300px) {
  .cards-container {
    padding-inline: 0rem;
  }
}
